.venv
venv
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# JavaScript
node_modules/
npm-debug.log
yarn-error.log
dist/
.DS_Store
/models

output_poisson.ply
output_poisson_colored.ply
