.venv
venv

# Model directories
models/
**/models/
public/models/
frontend/public/models/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# JavaScript
node_modules/
npm-debug.log
yarn-error.log
dist/
.DS_Store

# 3D Model files
*.ply
output_mesh/
**/output_mesh/
*.obj
uploads/
files/
rendered/
.env
