.venv
venv
backend/models/
frontend/models/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# JavaScript
node_modules/
npm-debug.log
yarn-error.log
dist/
.DS_Store
/models

*.ply

